.fruits-experts{
    background:rgba(0,0,0,0.6) url(./images/team.png);
    background-size: cover;
    background-blend-mode: darken;

}
.dedicate-border{
    border-bottom:1px solid black;
    padding-bottom: 40px;
    height: 1px;
    width: 50%;
}
.dedicate-border-2{
    border-bottom:1px solid black;
    width: 60%;
    display: flex;
    float: right;

}
#menu-toggle:checked ~ ul{
    left: 0;
}
